/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines a input taxid list to run a fast and simple pipeline test.

    Use as follows:
        nextflow run genomic-medicine-sweden/meta-val -profile test_taxid,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Limit resources so that this can run on GitHub Actions
    max_cpus                   = 2
    max_memory                 = '6.GB'
    max_time                   = '6.h'

    // Input data
    input                         = 'assets/samplesheet_v1.csv'

    taxid                         = '211044 11676'         //separated by space

    // Extract reads
    extract_kraken2_reads         = true
    fastq_output                  = true

    extract_centrifuge_reads      = true
    extract_diamond_reads         = true

    // Genome references
    genome = 'R64-1-1'
}
