/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines a input taxid list to run a fast and simple pipeline test.

    Use as follows:
        nextflow run genomic-medicine-sweden/meta-val -profile test_taxid,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

process {
    // Limit resources so that this can run on GitHub Actions
    resourceLimits = [
        cpus: 4,
        memory: '15.GB',
        time: '6.h'
    ]
}
params {
    config_profile_name        = 'Test user defined taxid profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Input data
    input                         = '../final_test_data/samplesheet_v3.csv'
    taxid                         = '211044 2886042 1920753 2491323 1826872 878220' //separated by space
    pathogens_genomes             = 'assets/test_data/reference/reference.fna'
    accession2taxid               = 'assets/test_data/reference/accession2taxid.map'

    // Extract reads
    perform_extract_reads         = true
    extract_kraken2_reads         = true
    fastq_output                  = true
    extract_centrifuge_reads      = true
    extract_diamond_reads         = true

    // de novo
    perform_shortread_denovo      = true
    perform_longread_denovo       = true
    min_read_counts               = 18

    // Screen pathogens
    perform_screen_pathogens      = false

    // Genome references
    genome = 'R64-1-1'
}
